@import "compass/css3";

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
body {
    color:#8d8d8d;
    margin:80px 0 0 0; padding:0;
    font-size:14px;
    font-family:"Times New Roman", Georgia, Serif;
}

.h3, .h4 {
    color:#000;
    margin:0; padding:0;
    font-family:Tahoma, Geneva, sans-serif;
}
.h3 {
    font-size:21px;
}
.h4 {
    font-size:18px;
}

.article-icons {
    margin:25px 0 22px; padding:0 40px 0 10px;
    list-style:none;
    display:flex;
    justify-content:space-between;
}
.article-icons-item {
    display:flex;
    align-items:center;
}
.article-icons .icons {
    display:inline-block;
    margin-right:10px;
}
.article-icons-text {
    color:#000
}
